﻿@model NewsModel

<div class="container">
    <h1>@Model.News.Title</h1>
    <p class="top-spacing">@Model.News.ReadTime</p>
    <div class="container">
        <img src="@Model.News.Image" width="300" height="300" alt="@Model.News.Title" />
        <p class="top-spacing">@Model.News.Description</p>
    </div>
    <a class="nav-link text-dark fa fa-arrow-left" asp-area="" asp-controller="News" asp-action="Index"> Back</a>
</div>