﻿@model NewsModel

<div class="col-md-12">
    @foreach (var news in Model.AllNews)
    {
        <div class="col-md-4 col-sm-6">
            <a href="@Url.Action( "Details", "News", new { id = news.Id } )">
                <img src="@news.Image" width="300" height="300" alt="@news.Title" />
            </a>
            <p class="top-spacing">@news.ReadTime</p>
            <a href="@Url.Action( "Details", "News", new { id = news.Id } )">
                <p class="news-title">@news.Title</p>
            </a>
            <p>@news.Description</p>
            <a href="@Url.Action( "Details", "News", new { id = news.Id } )">
                <span class="readmore fa fa-arrow-right"> READ OUR INSIGHTS</span> <!--If this link was related to Sitecore then we could use Dictionary Item here-->
            </a>
        </div>
    }
</div>